<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
<!-- 
	resultType="select 된 row를 담을 객체의 type"
	자동으로 MemberDto 객체가 생성이 되고
	setter 메소드를 이용해서 select 된 row의 칼럼정보가 하나 하나 들어간다.
	단, MemberDto의 필드명과 selelct 된 칼럼명이 일치해야 된다. 
-->
	<select id="getList" resultType="memberDto">
		select num, name, addr
		from member
		order by num asc
	</select>
	
	<select id="getData" parameterType="int" resultType="memberDto">
		select num,name,addr
		from member
		where num=#{num} <!-- ?치환 된다음 파라미터 타입 int숫자가 자동으로 들어간다. num의 이름은 바뀌어도 됨 -->
	</select>
	
	<insert id="insert" parameterType="memberDto">
		insert into member
		(num,name,addr)
		values(member_seq.nextval,#{name},#{addr})<!-- name,addr은 필드명과 row의 이름이 같아야한다. -->
	</insert>
	
   <update id="update" parameterType="memberDto">
      update member
      set name=#{name}, addr=#{addr}
      where num=#{num}
   </update>
	
	<delete id="delete" parameterType="int">
		delete from member
		where num=#{num}
	</delete>
</mapper>