<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">
	<select id="getList" parameterType="fileDto" resultType="fileDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num,writer,title,orgFileName,saveFileName,
					fileSize,regdate
				FROM board_file <!-- mybatis 로직존재 ->동적인 실행이 가능하다. -->
				<choose> 
					<when test="title != null and orgFileName != null">
						WHERE title LIKE '%${title}%' 
						OR orgFileName LIKE '%'||#{orgFileName}||'%'
					</when>
					<when test="title != null">
						WHERE title LIKE '%'||#{title}||'%'
					</when>
					<when test="writer != null">
						WHERE writer LIKE '%${writer}%'
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND ${endRowNum}
	</select>
	<!-- mybatis 문법
	 
		${} 전처리 ->미리 처리한다.
		title:"bye"
		where title=${bye}
		실행하기 전에 
		where title= bye 로 바뀜  <- 따음표 없기 때문에 에러		
		where title '${bye}'가 되어야함
		
		#{}
		title:"hi"
		where title = #{hi}
		where title =?		
		.toString() 을 통해
		where title = 'hi' 들어옴
		따음표를 안 붙여도 됨
		
		그럼 gura = where num=1 은 ? 뭘 써야할까
		답: ${gura}
		
		이유: #를 붙이게 되면 .toString()으로 
		'where num=1'이라는 따음표가 들어가므로 문법 오류
		
		
	
	 -->
	
	<select id="getCount" parameterType="fileDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_file
		<choose>
			<when test="title != null and orgFileName != null">
				WHERE title LIKE '%${title}%' 
				OR orgFileName LIKE '%'||#{orgFileName}||'%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%${writer}%'
			</when>
		</choose>		
	</select>

	<insert id="insert" parameterType="fileDto">
		INSERT INTO board_file
		(num, writer, title, orgFileName, saveFileName, fileSize, regdate)
		VALUES(board_file_seq.NEXTVAL, #{writer}, #{title}, 
			#{orgFileName}, #{saveFileName}, #{fileSize}, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="int" resultType="fileDto">
		SELECT num,writer,title,orgFileName,saveFileName,fileSize,regdate
		FROM board_file
		WHERE num=#{num}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_file
		WHERE num=#{num}
	</delete>	
</mapper>






